.App {
  text-align: center;
}

body {
  padding: 0;
  margin: 0;
  background: #f1f1f1;
  font-family: 'Mukta', sans-serif;
  font-size: 20px;
}

.navbar {
  width: 100%;
  height: 80px;
  background-color: #202124;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .links {
  font-size: 25px;
  color: white;
}

.links a {
  margin: 10px;
  text-decoration: none;
  color: white;
}

.links a:hover {
  cursor: pointer;
  font-weight: bold;
}

.CreatePost {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
}

.uploadPost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
  border: 2px solid black;
  font-size: 23px;
}

.uploadPost input {
  width: 80%;
  height: 55px;
  margin: 10px;
  font-size: 23px;
}

textarea {
  width: 80%;
  height: 200px;
}

button {
  margin: 10px;
  padding: 15px;
}

/* MainPage css */
.MainPage {
  display: flex;
  justify-content: center;
  height: calc(100vh - 80px);
  margin-top: 30%;
}

.PostContainer {
  height: 100vh;
  width: 70%;
  display: flex;
  margin-top: 50px;
  justify-content: center;
  flex-direction: column;
  background-color: lightgray;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.Post {
  width: 100%;
  border: 1px solid black;
  max-height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* Add a card effect for articles */
.card {
  display: grid;
  grid-template-columns: 300px 300px 300x;
  grid-template-rows: auto;
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  width: 100%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.blogs {
  padding-left: 10%;
  padding-right: 10%;
}

.card:hover {
  cursor: pointer;
}

.post-card {
  padding: 30px;
}

.articles {
  margin-top: 15px;
  font-size: 42px;
  font-weight: bold;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.grid-container {
  display: grid;
  grid-template-columns: 300px 300px 300x;
  grid-template-rows: auto;
}

/* .ppp {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 80%;
} */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1e1e1e;
  color: #ffffff;
  text-align: center;
  padding: 5px;
  font-size: 18px;
}

.fff {
  margin-top: 5%;
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=email], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=password], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

h6 {
  font-weight: bold;
  color: gray;
}
